.zilver-slider {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.zilver-slider li img {
  display: none;
}

.zilver-slider li {
  position: absolute;
  top: 0;
  left: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.zilver-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 150px;
  z-index: 13;
  cursor: url('img/close.png'), auto;
}

.zilver-close:hover {
  cursor: url('img/close.png'), auto;
}

.zilver-close.debug_mode {
    background: rgba(255, 255, 255, 0.6);
}

.ui-loader {
  display: none;
}

/* ----------- Desktop ----------- */

@media screen and (min-width: 1024px) {
  .zilver-slider li {
    width: 40%;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .zilver-slider li {
    width: 100%;
  }

  .zilver-close {
    display: block;
  }
}

/* Landscape */
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .zilver-slider li {
    width: 40%;
  }
}

/* ------ iPhone 5,6,7,8 ------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait) {
  .zilver-slider li {
    width: 100%;
  }
  .zilver-close {
    display: block;
  }
}

/* ------ iPhone 6,7,8 plus ------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .zilver-slider li {
    width: 100%;
  }
  .zilver-close {
    display: block;
  }
}

/* ------ iPhone X ------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .zilver-slider li {
    width: 100%;
  }
  .zilver-close {
    display: block;
  }
}
