.zilver-slider {
  width: 100%;
  overflow: hidden;
  position: absolute;
  /* top: -3000px; */
  left: 0;
}

.zilver-slider li img {
  display: none;
}

.zilver-slider li {
  position: absolute;
  top: 0;
  left: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.zilver-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 150px;
  z-index: 13;
  cursor: url("img/close.png"), auto;
}

.zilver-close:hover {
  cursor: url("img/close.png"), auto;
}

.zilver-close.debug_mode {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.zilver-arrow {
  position: fixed;
  height: 60%;
  width: 40%;
  z-index: 14;
  right: 0;
  bottom: 0;
  cursor: url("img/arrow.png"), auto;
}

.ui-loader {
  display: none;
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .zilver-slider li {
    width: 100%;
  }
  .zilver-close {
    top: 20px;
    right: 20px;
    background: transparent url("img/close.png") top right no-repeat !important;
    background-size: contain !important;
  }
}

/* Landscape */
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .zilver-slider li {
    width: 40%;
  }
  .zilver-close {
    top: 20px;
    right: 20px;
    background: transparent url("img/close.png") top right no-repeat !important;
    background-size: contain !important;
  }
}

/* ------ iPhone 5,6,7,8 ------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait) {
  .zilver-slider li {
    width: 100%;
  }
  .zilver-close {
    top: 20px;
    right: 20px;
    background: transparent url("img/close.png") top right no-repeat !important;
    background-size: contain !important;
  }
}

/* ------ iPhone 6,7,8 plus ------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .zilver-slider li {
    width: 100%;
  }
  .zilver-close {
    top: 20px;
    right: 20px;
    background: transparent url("img/close.png") top right no-repeat !important;
    background-size: contain !important;
  }
}

/* ------ iPhone X ------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .zilver-slider li {
    width: 100%;
  }
  .zilver-close {
    top: 20px;
    right: 20px;
    background: transparent url("img/close.png") top right no-repeat !important;
    background-size: contain !important;
  }
}

/* ----------- Desktop ----------- */

@media screen and (min-width: 1025px) {
  .zilver-slider li {
    width: 40%;
  }
  .zilver-close {
    background-image: none !important;
  }
}
